@mixin layout {
  flex: 1;
	display: flex;
	flex-direction: column;
}

.container {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.containerNav {
	display: flex;
	flex: 1;
}

.containerContent {
	flex: 10;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.icon {
	font-size: 30px;
	color: red;
}

.footer {
	// position: fixed;
	display: flex;
	flex: 1;
	border: 1px solid #E0E0E0;
}

